@import "tailwindcss";

@font-face {
  font-family: "DM Sans";
  src: url(./fonts/DMSans_18pt-Regular.ttf);
}

@font-face {
  font-family: "DM Sans Black";
  src: url(./fonts/DMSans_18pt-Black.ttf);
}


@theme {  
  --font-dm: "DM Sans", "sans-serif";
  --font-black: "DM Sans Black", "sans-serif";
  --shadow: shadow-[inset_0_6px_6px_-6_rgba(0,0,0,0.3)]
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
